:root {
	--primary-color: #FFA000;
}

/* Navbar */
#hamburgerToggle {
	cursor: pointer;
}

li.hamburger__items__item {
	margin-left: 1em;
}
/* End of navbar */

/* Home page */
main.hero {
	background-size: cover;
}
/* End of home page */

/* Lesson and announcement short code */
div.lesson,
div.announcement {
	margin: 1em;
	padding-bottom: 1em;
	border-bottom: 5px var(--primary-color) solid;
}

@media only screen and (max-width: 576px) {
	div.lesson {
		margin: 0;
	}
}

div.lesson:last-child,
div.announcement:last-child {
	border-bottom: none;
}

div.lesson-links {
	display: flex;
	flex-wrap: wrap;
}

div.lesson-links > a {
	display: inline-block;
	flex: 1 1 0;

	color: white;
	font-weight: bold;
	background-color: var(--primary-color);
	text-align: center;

	padding: .5em 1.5em;
	margin-right: .5em;
	margin-bottom: .5em;
	border-radius: 5px;
}

div.announcement span.date {
	color: lightslategrey;
	font-style: italic;
}

/* End of lesson short code */


/* Footer */
footer.footer {
	display: flex;
	flex-direction: column;
	color: white;
}

footer.footer h3 {
	margin-top: 2em;
	text-align: center;
}

footer div.contacts {
	display: flex;
	justify-content: center;
}

footer a {
	color: white;
}

footer a:hover {
	color: lightgray;
}

div.contacts > div {
	margin: 0 1em 1.5em 1em;
	justify-content: center;
}

div.students-contacts {
	text-align: right;
}


div.bottom-footer {
	background-color: #d58500;
	text-align: center;
	padding: 1em;
}

/* End of footer */

/* Exam points */

div.exam-points {
	--battleReportColor: #94C11A;
	--battlePerformanceColor: #EA5055;
	--writtenExamColor: #009EE3;
	--rolesColor: #F39100;
}

div.exam-points div.points-block-container {
	display: flex;

	margin: 0 -.5em; /* accounts for margin: .5em in points-block*/
}

div.exam-points div.points-block {
	padding: 1em;
	margin: .5em;

	text-align: center;
	border-radius: 5px;

	color: white;
	font-weight: bold;
	font-size: 1.2rem;
}

div.points-block.battle-report {
	flex: 15;
	background-color: var(--battleReportColor);
}

div.points-block.battle-performance {
	flex: 4;
	background-color: var(--battlePerformanceColor);
}

div.points-block.written-exam {
	flex: 15;
	background-color: var(--writtenExamColor);
}

div.points-block.roles {
	flex: 3;
	background-color: var(--rolesColor);
}


div.points-explaining {
	margin-top: 1em;
}

div.points-explaining p {
	border-left: 5px solid;
	padding-left: .5em;
}


div.points-explaining p.battle-report {
	border-left-color: var(--battleReportColor);
}

div.points-explaining p.battle-performance {
	border-left-color: var(--battlePerformanceColor);
}

div.points-explaining p.written-exam {
	border-left-color: var(--writtenExamColor);
}


div.points-explaining p.roles {
	border-left-color: var(--rolesColor);
}


/* End of exam points */