:root {
	--primary-color: #FFA000;
}

/* Navbar */
#hamburgerToggle {
	cursor: pointer;
}

.hamburger__toggle__icon img {
	width: 1.5em;
}

li.hamburger__items__item {
	margin-left: 1em;
}
/* End of navbar */

/* Home page */
main.hero {
	background-size: cover;
	min-height: 80vh;
	height: initial;
}

a.cta__btn {
	margin-top: 1.5rem;
	font-weight: bold;
	font-size: 1.1rem;
}

@media only screen and (max-width: 576px) {
	a.cta__btn {
		width: 100%;
		text-align: center;
	}
}

/* End of home page */

/* Lesson and announcement short code */
main.post__body > h1 {
	margin: 1em;
}

div.lesson,
div.announcement,
div.battle {
	margin: 1em;
	margin-bottom: 2em;
	padding: 1em;
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}


.post__body {
    margin: 1.75rem 20% .75rem;
}


@media only screen and (max-width: 576px) {
	main.post__body {
		margin: 1em;
	}
}

@media only screen and (max-width:1024px) {
 	.post__body {
  		margin: 1em;
	}
}

div.lesson:last-child,
div.announcement:last-child {
	border-bottom: none;
}

div.lesson-links,
div.battle-links {
	margin-right: -.5em;
	display: flex;
	flex-wrap: wrap;
}

div.lesson-links > a,
div.battle-links > a {
	display: flex;
	justify-content: center;
	align-items: center;

	flex: 1 1 0;

	color: white;
	font-weight: bold;
	background-color: var(--primary-color);
	text-align: center;

	padding: .5em;
	margin-right: .5em;
	margin-bottom: .5em;
	border-radius: 5px;
}

div.announcement span.date,
div.lesson span.date,
div.battle span.date {
	color: lightslategrey;
	font-style: italic;
}


div.readings-container {
	display: flex;
	justify-content: space-between;
	margin-right: -.5em;
}

@media only screen and (max-width: 1024px) {
	div.readings-container {
		flex-direction: column;
	}
}

div.readings {
	flex: 1;
	margin-right: .5em;
	margin-bottom: .5em;
}

div.header-and-links {
	font-weight: bold;
	border-radius: 5px;
	color: white;
}

div.header-and-links img {
	width: 1em;
	display: inline;
	margin-right: .5em;
	transition: transform .5s;
}

div.header-and-links > h5 {
	font-size: 1em;
	background-color: #7373FF;
	border-radius: 5px;
	padding: .5em;
	font-weight: bold;
	cursor: pointer;
}

.readings.mandatory div.header-and-links > h5 {
	background-color: red;
}

div.readings-list {
	padding: .5em;
	max-height: 0;
	transition: all 0.5s ease-in-out;
	overflow-y: hidden;
}

div.readings-list > ul {
	list-style: disc;
	margin-left: 1.5em;
}

div.readings-list > li {
	color: white;
}


input:checked ~ div.header-and-links {
	background-color: #9191F9;
}

input:checked ~ div.header-and-links img {
	transform: rotate(90deg);
}

.readings.mandatory input:checked ~ div.header-and-links {
	background-color: #e65c5c;
}

input:checked ~ div.header-and-links div.readings-list {
	height: auto;
	max-height: 10em;
}

div.readings-list a {
	color: white;
}

div.readings-list a:hover {
	text-decoration: underline;
}


div.battle {
	display: flex;
	flex-direction: column;
}

div.battle-header {
	margin: -1em;
	margin-bottom: 0;
}

div.battle-header img {
	width: 100%;
}


/* End of lesson short code */


/* Footer */
footer.footer {
	display: flex;
	flex-direction: column;
	color: white;
}

footer.footer h3 {
	margin-top: 2em;
	text-align: center;
	font-size: 1.5rem;
}

footer div.footer-sections {
	display: flex;
}

@media only screen and (max-width: 576px) {
	footer div.footer-sections {
		flex-direction: column;
	}
}

div.announcements-section {
	background-color: #de8b00;
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.announcements-section,
div.contacts-section {
	flex: 1;
	padding-bottom: 1em;
}

footer div.contacts {
	display: flex;
	justify-content: center;
}

footer a {
	color: white;
}

footer a:hover {
	color: lightgray;
}

div.contacts > div {
	margin: 0 1em 1.5em 1em;
	justify-content: center;
}

div.students-contacts {
	text-align: right;
}


div.bottom-footer {
	background-color: #d58500;
	text-align: center;
	padding: 1em;
}

div.latest-announcements {
	max-height: 400px;
	overflow-y: auto;
}

div.latest-announcements h1 {
	display: none;
}

div.latest-announcements span.date {
	color: white;
}


/* End of footer */

/* Exam points */

div.exam-points {
	--battleReportColor: #94C11A;
	--battlePerformanceColor: #EA5055;
	--writtenExamColor: #009EE3;
	--rolesColor: #F39100;

	--notAttendingCaseStudy: #94C11A;
	--notAttendingWrittenExam: #EA5055;
	--notAttendingOralExam: #009EE3;
}

div.exam-points div.points-block-container {
	display: flex;

	margin: 0 -.5em; /* accounts for margin: .5em in points-block*/
}

div.exam-points div.points-block {
	padding: 1em;
	margin: .5em;

	text-align: center;
	border-radius: 5px;

	color: white;
	font-weight: bold;
	font-size: 1.2rem;
}

div.points-block.battle-report {
	flex: 15;
	background-color: var(--battleReportColor);
}

div.points-block.battle-performance {
	flex: 4;
	background-color: var(--battlePerformanceColor);
}

div.points-block.written-exam {
	flex: 15;
	background-color: var(--writtenExamColor);
}

div.points-block.roles {
	flex: 3;
	background-color: var(--rolesColor);
}

div.not-attending-case-study{
	flex: 20;
	background-color: var(--notAttendingCaseStudy);
}
div.not-attending-written-exam{
	flex: 10;
	background-color: var(--notAttendingWrittenExam);
}
div.not-attending-oral-exam{
	flex: 5;
	background-color: var(--notAttendingOralExam);
}


div.points-explaining {
	margin-top: 1em;
}

div.points-explaining p {
	border-left: 5px solid;
	padding-left: .5em;
}


div.points-explaining p.battle-report {
	border-left-color: var(--battleReportColor);
}

div.points-explaining p.battle-performance {
	border-left-color: var(--battlePerformanceColor);
}

div.points-explaining p.written-exam {
	border-left-color: var(--writtenExamColor);
}


div.points-explaining p.roles {
	border-left-color: var(--rolesColor);
}


div.points-explaining p.not-attending-case-study{
	border-left-color: var(--notAttendingCaseStudy);
}
div.points-explaining p.not-attending-written-exam{
	border-left-color: var(--notAttendingWrittenExam);
}
div.points-explaining p.not-attending-oral-exam{
	border-left-color: var(--notAttendingOralExam);
}

/* End of exam points */