<div class="battle">
	{{ $battleResources := printf "%sbattles/%s/" ($.Site.BaseURL) (.Get "number") }}

	<div class="battle-header">
		{{ $coverPath := printf "battle_covers/%s.jpg" (.Get "number") }}
		{{ $cover := resources.Get $coverPath }}
		{{ if $cover }}
			{{ $resizedCover := $cover.Resize "800x" }} 
			<img src="{{ $resizedCover.RelPermalink }}" alt="battle cover"/>
		{{ end }}
	</div>

	<h2>Battle {{ .Get "number" }}</h2>
	<span class="date">{{ .Get "date" }}</span>
	<p>{{ .Get "description" }}</p>
	<div class="battle-links">
		{{ if .Get "first-team-slides" }}
			<a target="_blank" href="{{$battleResources}}{{ .Get `first-team` }}_slides.pdf">{{ .Get "first-team" }}</a>
		{{ end }}

		{{ if .Get "second-team-slides" }}
			<a target="_blank" href="{{$battleResources}}{{ .Get `second-team` }}_slides.pdf">{{ .Get "second-team" }}</a>
		{{ end }}

		{{ if .Get "photos" }}
			<a target="_blank" href="{{ .Get `photos` }}">Photos</a>
		{{ end }}

		{{ if .Get "federico-notes" }}
			<a target="_blank" href="{{$battleResources}}Federico_notes.pdf">Federico's Notes</a>
		{{ end }}

		{{ if .Get "georgiana-notes" }}
			<a target="_blank" href="{{$battleResources}}Bud_notes.pdf">Georgiana's Notes</a>
		{{ end }}

		{{ if .Get "guest-notekeeper" }}
			<a target="_blank" href="{{$battleResources}}{{.Get `guest-notekeeper`}}_notes.pdf">{{.Get `guest-notekeeper`}}'s Notes</a>
		{{ end }}

		{{ if .Get "video" }}
			<a target="_blank" href="{{ .Get `video` }}">Video</a>
		{{ end }}
	</div>
	<div class="readings-container">
		{{ .Inner }}
	</div>
</div>
