<div class="exam-points">
	<div class="points-block-container">
		<div class="points-block battle-report">
			15
		</div>
		<div class="points-block battle-performance">
			3+1
		</div>
		<div class="points-block written-exam">
			15
		</div>
		<div class="points-block roles">
			3
		</div>
	</div>

	<div class="points-explaining">
		<p class="battle-report">
			<strong>Up to 15</strong><br>
			Battle report (group essay of ~12 pages)
		</p>
		<p class="battle-performance">
			<strong>Up to 3 + 1</strong><br>
			Battle class performance (+1 for winner)
		</p>
		<p class="written-exam">
			<strong>Up to 15</strong><br>
			Written exam: answer, with a long answer (~1.5 pages), one question between two
		</p>
		<p class="roles">
			<strong>Up to 3</strong><br>
			“Roles” for helping to organize class
		</p>
	</div>
</div>