<div class="exam-points">
	<h2>Attending students</h2>
	<div class="points-block-container">
		<div class="points-block battle-report">
			15
		</div>
		<div class="points-block battle-performance">
			3+1
		</div>
		<div class="points-block written-exam">
			15
		</div>
		<div class="points-block roles">
			3
		</div>
	</div>

	<div class="points-explaining">
		<p class="battle-report">
			<strong>Up to 15</strong><br>
			Battle report (group essay of ~12 pages).<br>
			<a target="_blank" href="https://docs.google.com/document/d/18raEqkT_I9L4NjOVsblKBJaRBrNPLUbDYqqxK-uI6Wc/edit#heading=h.inejqxirhf8f">Here</a> you can find the report template (you must be logged in with a UniTN account).<br>
			The report must be deliveder as a PDF file by January 12th 2020 23:59 CET.
		</p>
		<p class="battle-performance">
			<strong>Up to 3 + 1</strong><br>
			Battle class performance (+1 for winner)
		</p>
		<p class="written-exam">
			<strong>Up to 15</strong><br>
			Written exam: answer, with a long answer (~1.5 pages), one question between two.<br>
			Exam dates: January 10th and February 11th 2020.
		</p>
		<p class="roles">
			<strong>Up to 3</strong><br>
			“Roles” for helping to organize class
		</p>
	</div>

	<br/>
	<h2>Not Attending students</h2>
	<div class="points-block-container">
		<div class="points-block not-attending-case-study">
			20
		</div>
		<div class="points-block not-attending-written-exam">
			10
		</div>
		<div class="points-block not-attending-oral-exam">
			5
		</div>
	</div>


	<div class="points-explaining">
		<p class="not-attending-case-study">
			<strong>Up to 20</strong><br>
			Individual case study (~5/6 pages).<br>
			<a target="_blank" href="https://docs.google.com/document/d/1bRk3gXj-41cw6uTBPy4PuhPSNxsiznwp1ism8zI20lU">Here</a> you can find the case study template (you must be logged in with a UniTN account).
		</p>
		<p class="not-attending-written-exam">
			<strong>Up to 10</strong><br>
			Written exam: 2 questions.
			<br>Questions are based on <a href="../lessons">mandatory readings, slides, and main references</a> listed on the slides.<br>
			Exam dates: January 10th and February 11th 2020.
		</p>
		<p class="not-attending-oral-exam">
			<strong>Up 5</strong><br>
			Optional oral exam
		</p>
	</div>
</div>