<div class="lesson">
	<h2>{{ .Get "title" }}</h2>
	<span class="date">{{ .Get "date" }}</span>
	<p>{{ .Get "description" }}</p>
	<div class="lesson-links">
		{{ if .Get "slides" }}
			<a href="{{ $.Site.BaseURL }}{{ .Get `slides` }}">Slides</a>
		{{ end }}

		{{ if .Get "photos" }}
			<a href="{{ $.Site.BaseURL }}{{ .Get `photos` }}">Photos</a>
		{{ end }}

		{{ if .Get "notes" }}
			<a href="{{ $.Site.BaseURL }}{{ .Get `notes` }}">Notes</a>
		{{ end }}

		{{ if .Get "video" }}
			<a href="{{ $.Site.BaseURL }}{{ .Get `video` }}">Video</a>
		{{ end }}
	</div>
</div>

