<div class="lesson">
	<h2>{{ .Get "title" }}</h2>
	<span class="date">{{ .Get "date" }}</span>
	<p>{{ .Get "description" }}</p>
	<div class="lesson-links">
		{{ if .Get "slides" }}
			<a target="_blank" href="{{ $.Site.BaseURL }}{{ .Get `slides` }}">Slides</a>
		{{ end }}

		{{ if .Get "photos" }}
			<a target="_blank" href="{{ .Get `photos` }}">Photos</a>
		{{ end }}

		{{ if .Get "federico-notes" }}
			<a target="_blank" href="{{ $.Site.BaseURL }}{{ .Get `federico-notes` }}">Federico's Notes</a>
		{{ end }}

		{{ if .Get "georgiana-notes" }}
			<a target="_blank" href="{{ $.Site.BaseURL }}{{ .Get `georgiana-notes` }}">Georgiana's Notes</a>
		{{ end }}

		{{ if .Get "video" }}
			<a target="_blank" href="{{ .Get `video` }}">Video</a>
		{{ end }}
	</div>

	<div class="readings-container">
		{{ .Inner }}
	</div>
</div>

